[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/opentelemetry-cpp"]
	path = third_party/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
